@page {
  margin: 0;
}
body {
  margin: 2cm;
}
#logoctr a {
  display: none;
}

*,
table,
table td,
table tr,
table th,
#items th,
#items td.balance,
#items,
#meta td.meta-head,
#logo:hover {
  background-color: transparent !important;
  border: 0 none;
}
#hiderow,
.delete-wpr a.delete {
  display: none !important;
}
table th,
table tr,
tbody th {
  border: 0 none;
}
table#items th,
table#items tr,
#items td.total-line tr,
#items td.total-value tr,
table#meta td.meta-head,
table#meta td {
  border: 0 none;
  border-bottom: 1px solid hsla(0, 0%, 80%, 1);
}

table#items td {
  border: 0 none;
}

th {
  text-align: left;
}
