
.col.total-value textarea:focus,
.col.total-value textarea:hover,
.delete:hover,
textarea:focus,
textarea:hover {
  background-color: $alert_color--light;
  cursor: pointer;
}

.delete_wrap {
  position: absolute;
  bottom: 6px;
  right: 0;

  .delete {
    display: block;
    color: $alert_color;
    background-color: white;
    text-decoration: none;
    padding: 2px;
    border: 1px solid $alert_color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    line-height: 24px;
    text-align: center;
  }
}

.addrow:before {
  content: "+";
  display: inline-block;
  color: $alert_color;
  background-color: white;
  text-decoration: none;
  position: absolute;
  padding: 2px;
  border: 1px solid $alert_color;
  top: 8px;
  right: 0;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  text-align: center;

  @include media( "screen", "<bp1Width") {
    top: 11px;
    right: -15px;
  }
}

.addrow {
  //a
  display: block;
  min-width: 100%;
  height: 40px;
  visibility: visible;
}

.hiderow {

  &:hover {
    cursor: pointer;

    .addrow {
      //a
      color: black;
      background: $alert_color--light;
    }
  }

  .no_tag {
    position: relative;
    padding-top: 4px;
  }

  @include media( "screen", "<bp1Width") {
    border-bottom: 1px solid $grey;
    height: 28px;
    margin-bottom: 3rem;
  }

}


.sums {
  margin-top: 1rem;
  @include media( "screen", ">minWidth") {
    .blank {
      display: none;
    }
  }
}


.total-line {
  border-right: 0;
  text-align: right;
  font-weight: $font_weight--bold;
  @include media( "screen", ">minWidth") {
    text-align: left;
  }

  .amount_paid & {
    color: $alert_color;
  }
}

.col.total-value {
  border-left: 0;
  padding: 10px 0;

  textarea {
    height: 20px;
    background: none;
    text-align: right;
    width: 100%;
  }
}

.col.blank {
  width: 100%;
}


.table {
  text-align: left;
  display: table;
  width: 100%;

  .header_row .col {
    font-weight: $font_weight--bold;
  }

  .row {
    position: relative;
    display: table-row;
  }

  .col {
    display: table-cell;
    border-bottom: 1px solid $grey;
    padding-top: 6px;
    padding-bottom: 6px;
    width: auto;
    margin-right: $spacing;
  }

  .item,
  .item textarea {
    width: 120px;
    max-width: 120px;
  }

  .description,
  .description textarea {
    width: 300px;
    max-width: 300px;
  }

  .unitcost,
  .unitcost textarea {
    width: 120px;
    max-width: 120px;
  }

  .quantity,
  .quantity textarea {
    width: 50px;
    max-width: 50px;
  }

  .totalprice {
    position: relative;
    width: 130px;
    max-width: 130px;
    text-align: right;
  }
}

.meta {
  padding-top: $spacing/5;
  max-width: 350px;
  float: right;
}

.meta .row,
.sums .row {
  justify-content: space-between;
}

.editable_indicator {
  color: $alert_color;
}

.meta_head {
  font-weight: $font_weight--bold;
}

.responsive_table {
  margin-top: $spacing*2;


  @include media( "screen", "<bp1Width") {
    display: block;
    margin-top: $spacing*5;

    .col,
    .row {
      display: block;
      width: 100%;
      min-width: 100%;
      border-bottom: 0 none;
    }
    .header_row {
      display: none;
    }

    .col {
      border-right: 1px solid $alert_color;
      padding-right: 10px;
    }

    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-top: 5px;
    }

    .totalprice {
      text-align: left;
      margin-bottom: 2rem;
      border-right: 0 none;
    }

    .delete_wrap {
      bottom: 15px;
      right: -15px;
      .delete {}
    }

    .col:before {
      font-weight: $font_weight--bold;
      margin-right: 0.5rem;
      display: inline-block;
      border-bottom: 1px solid $grey;
      width: 100%;
    }

    .col:nth-of-type(1):before {
      content: "Item";
      color: $alert_color;
    }

    .col.no_tag:before,
    .hiderow .col:nth-of-type(1):before {
      content: "";
      display: none;
    }

    .col:nth-of-type(2):before {
      content: "Description";
      color: $alert_color;
    }

    .col:nth-of-type(3):before {
      content: "Unit cost";
      color: $alert_color;
    }

    .col:nth-of-type(4):before {
      content: "Quantity";
      color: $alert_color;
    }

    .col:nth-of-type(5):before {
      content: "Price";
      color: black;
    }
  }

}

.col_span_all {
  column-span: all;
  //width: 100%!important;
}
