.table {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .header_row .col {
    font-weight: $font_weight--bold;
  }

  .row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid $grey;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .col {
    width: auto;
    margin-right: $spacing;
  }

  .item,
  .item textarea {
    width: 120px;
    max-width: 120px;
  }

  .description,
  .description textarea {
    width: 300px;
    max-width: 300px;
  }

  .unitcost,
  .unitcost textarea {
    width: 120px;
    max-width: 120px;
  }

  .quantity,
  .quantity textarea {
    width: 50px;
    max-width: 50px;
  }

  .totalprice {
    width: 130px;
    max-width: 130px;
    text-align: right;
  }
}

.meta {
  padding-top: $spacing/5;
  width: 350px;
  float: right;
}

.meta .row,
.sums .row {
  justify-content: space-between;
}

.editable_indicator {
  color: $alert_color;
}

.meta_head {
  font-weight: $font_weight--bold;
}

.responsive_table {
  margin-top: $spacing*2;
  @include media( "screen", "<minWidth") {
    .col:before {
      font-weight: $font_weight--bold;
      margin-right: 0.5rem;
      display: inline-block;
      width: 30%;
    }

    .col:nth-of-type(1):before {
      content: "Item";
      color: $alert_color;
    }

    .col.no_tag:before,
    .hiderow .col:nth-of-type(1):before {
      content: "";
      display: none;
    }

    .col:nth-of-type(2):before {
      content: "Description";
      color: $alert_color;
    }

    .col:nth-of-type(3):before {
      content: "Unit cost";
      color: $alert_color;
    }

    .col:nth-of-type(4):before {
      content: "Quantity";
      color: $alert_color;
    }

    .col:nth-of-type(5):before {
      content: "Price";
      color: black;
    }
  }
}

.colspan-5 {
  width: 100%!important;
}
