
.help {
  position: static;
  top: 0;
  right: 2rem;
  width: 80%;
  margin: 0 auto;
  height: 50px;
  background-color: $alert_color;

  svg {
    display: none;
  }



  a {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  @include media( "screen", ">minWidth") {
    position: fixed;
    z-index: 100;
    top: $spacing;
    right: $spacing;
    width: 60px;
    height: 60px;
    background-color: $alert_color;
    border-radius: 50%;

    a {
      display: block;
      color: white;
      line-height: 60px;
      text-align: center;
    }

    svg {
      display: block;
    }

    .small_screen_text {
      display: none;
    }
  }
}
